:root {
  --ssr-spacing: 12px;
}
@media (max-width: $desktop) {
  :root {
    --ssr-spacing: 8px;
  }
}
@media (max-width: $mobile) {
  :root {
    --ssr-spacing: 8px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@import '../components/_title-text';
@import '../components/_agency-model';

.primary-page {
  @media (max-width: $mobile) {
    //TODO test
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .BannerRecord {
    > .container {
      width: 100%;
    }
    .column:last-child {
      display: flex;
      justify-content: center;
      margin-right: calc((min(770px, 50vw) * -1) + 50%);
    }
    .has-green-line {
      margin-bottom: 1em;
      &:before {
        width: 85px;
        top: unset;
        bottom: calc(-0.5em - 5px);
      }
    }
  }

  .ClientSetRecord {
    $border: 1px solid $border-color-gray;
    .column {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          border-bottom: $border;
        }
      }
      &.is-one-fifth-desktop {
        // @media screen and (min-width: 1216px) {
        @media screen and (min-width: 1024px) {
          width: calc(100% / 6);
        }
      }
    }
    @media screen and (max-width: calc(#{$tablet} - 1px)) {
      .column {
        &:nth-child(9) {
          border-bottom: $border;
        }
        &:not(:nth-child(3n)) {
          border-right: $border;
        }
      }
    }
    @media screen and (min-width: $tablet)  and (max-width: calc(#{$desktop} - 1px)) {
      .column {
        &:not(:nth-child(4n)) {
          border-right: $border;
        }
      }
    }
    @media screen and (max-width: calc(#{$desktop} - 1px)) {
      .column {
        @each $i in 7, 8 {
          &:nth-child(#{$i}) {
            border-bottom: $border;
          }
        }
      }
    }
    @media screen and (min-width: $desktop) {
      .column {
        &:not(:nth-child(6n)) {
          border-right: $border;
        }
      }
    }
  }

  $ssr-spacing: var(--ssr-spacing);
  .ServiceSetRecord {
    .columns {
      margin: calc(-#{$ssr-spacing} * 2);
    }
    .has-text-centered .columns {
      justify-content: center;
    }
    .column {
      display: flex;
      flex-flow: column;
      background: rgba(68, 79, 87, 0.2);
      border: 1px solid $primary;
      margin: $ssr-spacing;
      padding: 0;
      @media (min-width: $fullhd) {
        &.is-one-quarter {
          flex-basis: calc(25% - #{$ssr-spacing} * 2);
          width: calc(25% - #{$ssr-spacing} * 2);
        }
      }
    }
    .content-wrap {
      min-height: 7rem;
      border-top: unset;
      padding: 6%;
      border-top: 1px solid $primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .is-5 {
        @include bulletList();
      }
    }

    //image
    .title.is-4 {
      margin-bottom: 0;
      padding: 1rem 0;
      display: grid;
      place-items: center;
    }
    figure {
      &.image {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: $fullhd) {
    .ServiceSetRecord {
      .column {
        flex-basis: calc(33% - #{$ssr-spacing} * 2);
      }
    }
  }
  @media screen and (max-width: $desktop) {
    .ServiceSetRecord {
      .column {
        flex-basis: calc(50% - #{$ssr-spacing} * 2);
      }
    }
  }
  @media screen and (min-width: $tablet) {
    .ServiceSetRecord {
      .content {
        //@see typography defs in theme_override
        $line-height: 25.5px;
        $num-lines: 3;
        min-height: calc($line-height * $num-lines);
      }
    }
  }
  @media screen and (min-width: $desktop) {
    .primary-page .container {
      max-width: 1440px;
    }
  }

  // @media screen and (max-width: $widescreen) and (min-width: $tablet) {
  //   .fa-3x {
  //     font-size: 2em;
  //   }
  // }
}

//call to action join
//.primary-page
.section.ColumnRowRecord {
  padding: 120px 6%;
  box-sizing: border-box;
  .title.is-1,
    //.container > .columns > .column:first-child, //affects - /blog/meet-the-team-tom-williams
    h2 {
    // only 1 h1 per page -> hero title
    @include hdl1();
  }
  .container > .columns > .column:last-child {
    padding-top: 28px;
    h3 {
      @include green-line(); //TODO apply to h3s only
      &:before {
        top: -1em;
      }
    }
    &:before {
      top: 0;
    }
  }

  @media screen and (min-width: calc(#{$desktop} + 1px)) {
    // .container:not(.is-desktop):not(.is-widescreen),
    .container {
      max-width: 1408px;
    }
  }
  @media (max-width: $tablet) {
    padding: 80px max(6%, 1.5rem);

    .title.is-1,
    h2,
    .container > .columns > .column:first-child {
      @include font-size(42px !important);
    }
  }
  .container > .columns > .column .content {
    h3 {
      font-size: 1.5em !important;
    }
  }
}
