.BannerRecord {
  > .container {
    width: 100%;
  }
  .column:last-child {
    display: flex;
    justify-content: center;
    margin-right: calc((min(770px, 50vw) * -1) + 50%);
  }
  .has-green-line {
    margin-bottom: 1em;
    &:before {
      width: 85px;
      top: unset;
      bottom: calc(-0.5em - 5px);
    }
  }

  .custom-flex-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;

    .imageHero {
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 10%, 28% 100%, 0 70%);
      filter: brightness(0.5);
    }

    .data-container {
      max-width: 1440px;
      position: absolute;
      z-index: 1;

      .title.titleHero {
        width: 70%;
        font-weight: 300;
        margin-bottom: 40px;
        text-transform: capitalize;
      }

      .text-description {
        width: 60%;
        font-family: Helvetica;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 80px;
      }
    }

    .svg-right {
      width: 50vh;
      position: absolute;
      top: 1vh;
      right: 0;
    }

    .svg-left {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @media (min-width: 2300px) {
      .imageHero {
        clip-path: polygon(0 0, 100% 0, 100% 9%, 31% 100%, 0 68%);
      }

      .svg-right {
        top: 0;
      }

      .svg-left {
        bottom: 10vh;
      }
    }

    @media (max-width: calc(1440px + 200px)) {
      .imageHero {
        clip-path: polygon(0 0, 100% 0, 100% 15%, 24% 100%, 0 72%);
      }

      .data-container {
        padding: 0 10rem;
      }

      .svg-right {
        top: 6vh;
      }

      .svg-left {
        top: 65vh;
      }
    }

    @media (max-width: 769px) {
      .data-container {
        padding: 0 1rem;
      }
    }
  }
}
