.BannerRecord {
  > .container {
    width: 100%;
  }
  .column:last-child {
    display: flex;
    justify-content: center;
    margin-right: calc((min(770px, 50vw) * -1) + 50%);
  }
  .has-green-line {
    margin-bottom: 1em;
    &:before {
      width: 85px;
      top: unset;
      bottom: calc(-0.5em - 5px);
    }
  }

  .custom-flex-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    @media (max-width: $tablet) {
      align-items: flex-start;
    }

    .imageHero {
      height: 100%;
      max-width: unset !important;
      clip-path: polygon(0 0, 100% 0, 100% 20%, 33% 100%, 0 70%);
      filter: brightness(0.5);
    }

    .data-container {
      max-width: 1440px;
      position: absolute;
      z-index: 1;

      .title.titleHero {
        width: 70%;
        margin-bottom: 40px;
        text-transform: capitalize;
      }

      .text-description {
        width: 70%;
      }

      .text-description p {
        @include description-hero;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 80px;
        }
      }
    }

    .svg-right {
      width: 50vh;
      position: absolute;
      bottom: 19vh;
      right: 0;
    }

    .svg-left {
      position: absolute;
      bottom: 3vh;
      left: 0;
    }

    @media (min-width: 2300px) {
      .imageHero {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 36% 100%, 0 68%);
      }

      .svg-left {
        bottom: 13vh;
      }
    }

    @media (max-width: calc(1440px + 200px)) {
      .imageHero {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 32% 100%, 0 71%);
      }

      .data-container {
        padding: 0 5rem;
      }

      .svg-right {
        top: 23vh;
      }

      .svg-left {
        top: 70vh;
      }
    }

    @media (max-width: $tablet) {
      .imageHero {
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
      }

      .data-container {
        padding: 0 1rem;
        padding-top: $global-padding;
        .title.titleHero,
        .text-description {
          width: unset;
        }
      }

      .svg-left {
        display: none;
      }
      .svg-right {
        transform: translate(60%, 20%);
      }
    }
  }
}
