.case-study-grid__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;

  .card-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(33.333% - 5%);
    max-width: calc(33.333% - 5%);
    padding-bottom: 5%;

    .card-item-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      .card-item-image {
        padding: 1rem;
        > svg {
          width: 100%;
          height: 100%;
        }
      }
      > li {
        padding-right: unset;
        flex: unset;
        &::before {
          clip-path: polygon(0% 0%, 94% 0%, 100% 100%, 100% 100%, 0% 100%);
          padding-right: unset;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .card-item-wrapper {
      flex: 1 1 calc(50% - 5%);
      max-width: calc(50% - 5%);
    }
  }

  @media (max-width: 768px) {
    .card-item-wrapper {
      flex: 1 1 100%;
      max-width: unset;
    }
  }
}
