.soupWrapper {
  padding: unset;
  margin: unset;
  width: 100%;
  height: 100%;
  position: relative;

  .soupTitle {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(1px);

    &::before {
      content: '';
      user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: conic-gradient(
        from 240deg at 47% 0%,
        transparent 240deg,
        #d4d6d9 230deg
      );
    }
  }
  > .columns {
    margin: unset;
  }

  .soupContent {
    background-color: $soup-background;
    padding: 0 $global-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    gap: 2.5rem;
    .textContent {
      max-width: 1440px;
      width: 100%;
      z-index: 1;
      > h2 {
        max-width: 80%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include text-clamp(2);
      }
      > h2,
      p {
        color: var(--Text-Anthracite, #212121);
      }
      p {
        @include text-clamp(4);
        line-height: 1.5 !important;
      }
    }

    .imageContent {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
    }
    @media (max-width: 1200px) {
      padding: 0 $global-padding;
      > .columns.is-variable.is-5 {
        --columnGap: 0.5rem;
      }
    }
    @media (max-width: $tablet) {
      padding: 0 1rem;
      > .columns.is-variable.is-5 {
        --columnGap: 1.25rem;
      }
    }
  }

  .soupBottom {
    height: 60vh;
    transform: translateY(-2px);
    padding: 2rem $global-padding;
    display: flex;
    justify-content: center;

    .buttonContent {
      width: 100%;
      max-width: 1440px;
    }

    &::before {
      content: '';
      user-select: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: conic-gradient(
        from 60deg at 42% 100%,
        transparent 235deg,
        $soup-background 235deg
      );
    }
  }

  @media (min-width: 1500px) {
    .soupTitle {
      height: 70vh;
    }
    .soupBottom {
      height: 80vh;
    }
  }
  @media (max-width: 1024px) {
    .soupTitle {
      height: 40vh;
    }
    .soupBottom {
      height: 50vh;
    }
  }

  @media (max-width: $tablet) {
    .soupTitle {
      transform: translateY(110px);
      height: 60vh;

      &:before {
        background-image: linear-gradient(
          150deg,
          transparent 40%,
          $soup-background 40%
        );
      }
    }

    .soupContent {
      padding: 0 $mobile-padding;
    }

    .soupBottom {
      padding: $mobile-padding;
      height: 60vh;

      &:before {
        background-image: linear-gradient(
          -30deg,
          transparent 40%,
          $soup-background 40%
        );
      }
    }
  }
}
