div[class^='swiper-button-'] {
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  top: 50%;
  z-index: 5;

  height: max(2.5rem, min(5vw, 84px));
  width: max(2.5rem, min(5vw, 84px));
  @media (max-width: $desktop) {
    height: max(2.5rem, min(7vw, 84px));
    width: max(2.5rem, min(7vw, 84px));
  }

  svg {
    @include fillall;
  }

  path,
  circle {
    transition: 0.2s fill ease-out;
  }
  &:hover {
    path {
      fill: $grey-darkest;
    }
    circle {
      fill: $primary;
      fill-opacity: 1;
    }
  }
}
.swiper-button-prev-btn {
  align-items: center;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
.swiper-button-next-btn {
  right: 0;
  transform: translate(50%, -50%);
}

.swiper-pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 2rem;
  @media (max-width: $desktop) {
    gap: 0.5rem;
    .swiper-pagination-bullet {
      height: 14px !important;
      width: 14px !important;
    }
  }
}
.swiper-pagination-bullet {
  border: 1px solid #fff;
  background-color: transparent;
  height: 1.0625rem !important;
  width: 1.0625rem !important;
  transition: 0.1s;
  &:hover {
    background-color: $primary-trans;
    border-color: $turquoise-interact;
  }
  &-active {
    background: $primary !important;
    border-color: transparent;
  }
}

.section.ContentLinkSetRecord {
  &.section.has-background-grey-darker {
    margin: 120px 0;
  }
  @media (max-width: $tablet) {
    .column {
      width: 100%;
    }
  }
  .card-columns {
    position: relative;
    .column {
      //non-slider
      max-height: 600px;
      > * {
        max-height: 100%;
      }
    }
  }
  .swiper-slide {
    position: relative;
    .columns {
      box-sizing: border-box;
    }
    &:before {
      content: '';
      @include fillall;
      z-index: 10;
      box-sizing: border-box;
      pointer-events: none;
    }
  }
  *:not(.swiper-slide) > .card,
  .swiper-slide:before {
    border: 1px solid $primary;
  }

  .hero-banner {
    padding: 80px 0;
    // .swiper-wrapper {
    //   margin: 0 0.75rem;
    // }
    .column {
      // &[class*='image-'] {
      //   max-height: 466px;
      // }
      > *:not(.button) {
        max-height: 100%;
        @media (max-width: $tablet) {
          box-sizing: content-box;
        }
      }
    }
    &.is-large {
      .column {
        box-sizing: content-box;
      }
      .is-flex-grow-1,
      .is-9 {
        > * {
          box-sizing: border-box; //TODO
        }
      }
      @media (max-width: $tablet) {
        .title-wrap {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
    .swiper-slide {
      &:before {
        content: unset;
      }
    }
    &.is-large {
      img {
        object-fit: cover;
      }
      .button.is-primary {
        min-width: unset;
      }
      .hero-banner-content a {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
      }
      .content {
        @include bdy-com;
      }
      .is-vcentered {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .link-left {
      display: flex;
    }
  }
  .image-sm {
    img {
      max-width: calc(100% - 1.5rem);
      max-height: calc(100% - 1.5rem);
      margin: 0.75rem;
    }
    div {
      // padding: 0.75rem;
      position: relative;
      box-sizing: border-box;
      max-width: 100%;
      max-height: 100%;
      &:before {
        //dup
        content: '';
        @include fillall;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: 10;
        pointer-events: none;
        border: 1px solid $primary;
      }
    }
  }
}

.image-sm {
  align-self: flex-start;
  max-width: 390px;
}
