.study-wrapper {
  user-select: none;

  .textStudy-content {
    display: flex;
    flex-direction: row;
    gap: 10%;

    .study-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .title.is-1 {
        margin-bottom: 2.5rem;
        @include text-clamp(2);
      }

      .textStudy-description {
        margin-bottom: 80px;
        @include hdl4;
        line-height: 1.5 !important;
        @include text-clamp(10);
      }
    }

    .imgStudy-container {
      flex: 1;
      position: relative;

      .svg-leadCaseStudy {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 26%;
        > svg {
          width: 100%;
          height: 100%;
        }
      }
      .imageStudy {
        width: 100%;
        height: 100%;
        clip-path: polygon(49% 0, 100% 0%, 100% 50%, 100% 100%, 0 100%, 0 27%);
        object-fit: cover;
        max-width: unset !important;
        img {
          object-position: 0 25%;
          @media (max-width: $tablet) {
            object-position: unset;
          }
        }
      }
    }
  }

  @media (max-width: $tablet) {
    height: unset;

    .textStudy-content {
      flex-direction: column-reverse;

      .study-content {
        padding: $mobile-padding;
      }
    }
  }
}
