.section.LeadCaseFullWidth {
  padding: unset;
  position: relative;

  > .container {
    margin: unset;
    width: 100%;
    height: 100%;
    max-width: unset;
  }

  .svg-bottomlead {
    position: absolute;
    width: 34vh;
    top: 37vh;
    right: 17vh;

    > svg {
      width: 32vh;
    }
  }

  .svg-rightlead {
    position: absolute;
    width: 19vh;
    top: 26vh;
    right: 0;
  }

  .container-fullWidth {
    padding: 0 10rem;

    .imageLead {
      width: 100%;
      height: 55vh;
      max-width: unset !important;
      clip-path: polygon(0 0, 100% 0, 100% 67%, 81% 100%, 0 100%, 0% 50%);
      position: relative;
      overflow: hidden;

      > picture {
        > img {
          object-fit: cover;
        }
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 80px;
      padding: 0 7.5rem;

      .description-info {
        > p {
          @include bdy-md;
          line-height: 2 !important; //32/16
        }
      }
    }
  }

  @media (min-width: 2300px) {
    .svg-bottomlead {
      top: 36vh;
      right: 34vh;
    }

    .svg-rightlead {
      top: 25vh;
      right: 17vh;
    }

    .container-fullWidth {
      padding: 0 35rem;

      .imageLead {
        clip-path: polygon(0 0, 100% 0, 100% 65%, 67% 100%, 0 100%, 0% 50%);
      }
    }
  }

  @media (max-width: calc(1440px + 200px)) {
    .svg-bottomlead {
      top: 37vh;
      right: 17vh;

      > svg {
        width: 32vh;
      }
    }

    .svg-rightlead {
      top: 26vh;
      right: 0;
    }

    .container-fullWidth {
      .imageLead {
        clip-path: polygon(0 0, 100% 0, 100% 67%, 77% 100%, 0 100%, 0% 50%);
      }
    }
  }

  @media (max-width: calc(1024px + 200px)) {
    .svg-bottomlead {
      top: 36vh;
      right: 0;
      > svg {
        width: 34vh;
      }
    }

    .svg-rightlead {
      display: none;
    }

    .container-fullWidth {
      padding: unset;

      .imageLead {
        clip-path: polygon(0 0, 100% 0, 100% 66%, 73% 100%, 0 100%, 0% 50%);
      }

      .info {
        padding: 0 10rem;
      }
    }
  }

  @media (max-width: $tablet) {
    .svg-bottomlead {
      width: unset;
      top: 38vh;
      right: 0;

      > svg {
        width: 26vh;
      }
    }

    .container-fullWidth {
      padding: 10rem 0;

      .imageLead {
        height: 35vh;
        clip-path: polygon(0 0, 100% 0, 100% 57%, 44% 100%, 0 100%, 0% 50%);
      }

      .info {
        padding: $mobile-padding;
      }
    }
  }
}
