.section.LeadCaseFullWidth {
  padding: unset;
  position: relative;

  > .container {
    margin: unset;
    width: 100%;
    height: 100%;
    max-width: unset;
  }

  .image-clip-container {
    position: relative;
  }

  .clip-me {
    background-color: #212121;
    position: absolute;
    z-index: 1;
    clip-path: polygon(100% -1%, -1% 100%, 100% 100%);
    height: 163px;
    width: 280px;
    bottom: -1px;
    right: -1px;
  }

  .svg-bottomlead {
    position: absolute;
    display: flex;
    width: 280px;
    height: 163px;
    bottom: 0;
    top: auto;
    z-index: 2;
    right: 0;

    > svg {
      width: 100%;
      height: auto;
    }
  }

  .svg-rightlead {
    position: absolute;
    top: auto;
    bottom: 0;
    right: -159px;
    width: 161px;
    height: 255px;
  }

  .container-fullWidth {
    padding: 0 $global-padding;
    user-select: none;

    .imageLead {
      width: 100%;
      height: 55vh;
      max-width: unset !important;
      position: relative;
      overflow: hidden;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 80px;
      padding: 0 7.5rem;

      .lead-case-title {
        @include text-clamp(3);
        line-height: 1.5 !important;
      }

      .description-info {
        > p {
          @include bdy-md;
          line-height: 2 !important; //32/16
        }
      }
    }

    @media (min-width: 1700px) {
      padding-right: calc((100vw - 1440px) / 2);
      padding-left: calc((100vw - 1440px) / 2);
    }
  }

  @media (max-width: calc(1024px + 200px)) {
    .svg-rightlead {
      display: none;
    }

    .container-fullWidth {
      padding: unset;

      .info {
        padding: 0 10rem;
      }
    }
  }

  @media (max-width: $tablet) {
    .container-fullWidth {
      padding: 10rem 0;

      .imageLead {
        height: 35vh;
      }

      .info {
        padding: $mobile-padding;
      }
    }
  }
}
