.panel-item-wrapper {
  display: flex;
  flex: 0 0 var(--items-width);
  user-select: none;
  position: relative;
  flex-direction: column;
  padding-top: 40px;
  height: 100%;
  justify-content: space-between;
  &:not(:last-child) {
    // 7.14% came from a calculous based on the desktop design
    margin-right: clamp(20px, 5vw, 7.14%);
  }
  .panel-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 420px;
    transform: translateX(3px);
    gap: 5px;
    @media (max-width: 768px) {
      max-width: unset;
    }

    .panel-item-title {
      font-size: 32px !important;
      line-height: 48px !important;
    }

    .panel-dropdown {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 10px;
      align-items: center;
      // justify-content: space-between; removed to align with design CWU-138
      border-bottom: 1px solid transparent;
      cursor: pointer;
      max-width: fit-content;

      > svg {
        transition: transform 250ms ease-in-out;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(.rotate-svg),
        &:active,
        &:focus {
          border-bottom: 1px solid white;
          > svg {
            transition: transform 250ms ease-in-out;
            path {
              fill: $white;
            }
          }
        }
      }
    }
    .panel-content-wrapper {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 200ms ease-in-out;
    }

    .panel-content-wrapper.open-dropdown {
      grid-template-rows: 1fr;
    }
    .panel-content {
      overflow: hidden;
      padding-top: 20px;
      height: 100%;
    }

    .button {
      margin-top: 80px;
      span {
        max-width: 245px;
        display: inline-block;
      }
    }

    @media screen and (max-width: $mobile) {
      .panel-item-title {
        margin-bottom: 5px;
      }
      .panel-content.open-dropdown {
        padding-top: 20px;
      }
      .button {
        margin-top: 40px;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: var(--theme-color, white);
    top: 0;
    left: 0;
    background-clip: content-box;
    clip-path: polygon(0% 0%, 94% 0%, 100% 100%, 100% 100%, 00% 100%);
  }
  .rotate-svg {
    border-bottom: 1px solid transparent;
    > svg {
      transform: rotate(180deg);
      transition: transform 250ms ease-in-out;
      path {
        fill: $white;
      }
    }
  }
  .card-button {
    width: 100%;
    margin-top: auto;
    > a {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      max-width: unset;
    }
  }
}
