$item-max-gap: 80px;
$item-min-gap: 20px;
$item-responsive-gap: 5vw;

.SC-carousel-wrapper {
  .SC-container-outer {
    --item-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 80px;
    .SC-container-inner {
      overflow-x: scroll;
      display: flex;
      cursor: grab;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome */
      }
      &.SC-dragging {
        cursor: grabbing;
      }

      > li {
        height: unset;
      }
    }

    .SC-indicator-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(10px, 3vw, 40px);
      padding: 0.5rem;
      .SC-indicator-items-wrapper {
        display: flex;
        align-items: center;
        gap: clamp(10px, 2vw, 20px);
        .SC-indicator-item {
          width: 15px;
          height: 15px;
          border: 1px solid #ffffff;
          border-radius: 50%;
          transition: background-color 150ms ease-in-out;

          cursor: pointer;
          &:hover {
            border-color: $cam-primary;
          }
          &.SC-active {
            background-color: #ffffff;
            cursor: initial;
            &:hover {
              border-color: #ffffff;
            }
          }
          &.SC-inactive {
            background-color: transparent;
          }
        }
      }

      .SC-indicator-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        > svg {
          transform: scale(0.85);
        }
        &:hover {
          > svg {
            > path {
              fill: $cam-primary;
              stroke: $cam-primary;
            }
          }
        }
        &.SC-hidden {
          visibility: hidden;
          pointer-events: none;
        }
        &.SC-left {
          transform: rotateY(180deg);
        }
      }
    }
  }
  .SC-button {
    margin-top: 80px;
  }
}
