.team-wrapper {
  height: 100%;
  position: relative;
  user-select: none;

  .team-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .title {
      @include text-clamp(1);
    }

    .team-dropdown {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      border-bottom: 1px solid transparent;
      > svg {
        margin-left: 10px;
        transition: transform 250ms ease-in-out;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(.rotate-svg),
        &:active,
        &:focus {
          border-bottom: 1px solid white;
          > svg {
            transition: transform 250ms ease-in-out;
            path {
              fill: $white;
            }
          }
        }
      }
    }
    .team-dropdown-wrapper {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 250ms ease-in-out;
    }
    .team-dropdown-wrapper.open-dropdown {
      grid-template-rows: 1fr;
    }
    .team-content {
      overflow: hidden;
      height: 100%;
    }

    .team-content.open-dropdown {
      padding-top: 1rem;
    }

    .img-container {
      position: relative;
      margin-bottom: 20px;
      background-color: transparent !important;

      .image-team {
        height: 100%;
        width: 100%;
      }
      .clip-me {
        clip-path: polygon(100% 78%, 60% 100%, 100% 100%);
        background-color: $anthracite;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .svg-iconTeam {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 45%;

        > svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .team-line {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a:hover {
        color: $title-color;
      }

      .hover-underline {
        min-height: 28px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: transparent;
          margin-top: 4px;
        }
        &:hover::after {
          background-color: $turquoise;
        }
      }

      .subtitle {
        @include text-clamp(2);
      }
    }

    .columns {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: auto;
      gap: 20px;

      .column {
        padding: 0;
        width: calc(20% - 16px);
        flex-basis: calc(20% - 16px);
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
      }
      @media (max-width: $tablet) {
        justify-content: space-between;
        .column {
          flex-basis: calc(50% - 20px);
          max-width: fit-content;
        }
      }
    }
  }

  .rotate-svg {
    border-bottom: 1px solid white;
    > svg {
      transform: rotate(180deg);
      transition: transform 250ms ease-in-out;
      path {
        fill: $turquoise;
      }
    }
  }
}

.SingleCaseStudy {
  .TeamRecord {
    .team-dropdown {
      > svg {
        path {
          fill: $anthracite;
        }
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover:not(.rotate-svg),
        &:active,
        &:focus {
          border-bottom: 1px solid $anthracite;
          > svg {
            transition: transform 250ms ease-in-out;
            path {
              fill: $anthracite;
            }
          }
        }
      }
    }
    .team-wrapper {
      .rotate-svg {
        border-bottom: 1px solid transparent;
        > svg {
          transform: rotate(180deg);
          transition: transform 250ms ease-in-out;
          path {
            fill: $turquoise;
          }
        }
      }
    }
  }
}
