.textImage-content {
  display: flex;
  flex-direction: row;
  gap: 10%;
  user-select: none;
  .info-texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 10rem;
    .texts {
      > h2 {
        @include text-clamp(3);
      }
      .text-description {
        margin-bottom: 80px;
        @include text-clamp(10);
        > p {
          @include bdy-md;
        }
      }
    }

    @media (min-width: 1700px) {
      padding-left: calc((100vw - 1440px) / 2);
    }

    @media (max-width: 1023px) {
      padding-left: $tablet-padding;
    }
  }
  .img-container {
    flex: 1;
    position: relative;
    .svg-textImageRight {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 45%;
      height: 30%;
      > svg {
        width: 100%;
        height: 100%;
      }

      @media (min-width: 1700px) {
        width: 30%;
      }
      @media (min-width: 2300px) {
        width: 20%;
      }

      @media (max-width: 1024px) {
        width: 60%;
      }
      @media (max-width: $tablet) {
        width: 40%;
      }
      @media (max-width: $mobile) {
        transform: translateX(-22%);
        width: 60%;
        height: 13vh;
      }
    }
    .imageText {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 0 70%);
      max-width: unset !important;
      img {
        object-position: 0 25%; // Remove when image gets changed
        @media (max-width: $tablet) {
          object-position: unset;
        }
      }
    }
    @media (min-width: 1700px) {
      padding-right: calc((100vw - 1440px) / 2);
    }
  }
}

.image-left {
  flex-direction: row-reverse;
  .info-texts {
    padding-left: unset;
    padding-right: 10rem;
    @media (min-width: 1700px) {
      padding-right: calc((100vw - 1440px) / 2);
    }
    @media (max-width: 1023px) {
      padding-right: $tablet-padding;
    }
  }
  .img-container {
    flex: 1;
    position: relative;
    .svg-textImageLeft {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      height: 35%;

      aspect-ratio: 300 / 163;
      width: 280px;
      height: 163px;
      > svg {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;

        // mobile
        scale: 0.7;
        right: calc(-280px * 0.15);
        bottom: calc(-163px * 0.15);
      }

      .clip-me {
        width: 100%;
        height: 100%;
        background-color: #212121;
        position: absolute;
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        z-index: 0;
        bottom: -1px;
        right: -1px;
      }
    }
    .imageText {
      width: 100%;
      height: 100%;
      clip-path: unset;
      max-width: unset !important;
      img {
        object-position: 0 25%;
        @media (max-width: $tablet) {
          object-position: unset;
        }
      }
    }
    @media (min-width: 1700px) {
      padding-left: calc((100vw - 1440px) / 2);
      padding-right: unset;
    }
  }
}

.textImage-content,
.image-left {
  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    height: unset;
    .info-texts {
      padding: $mobile-padding;
    }
  }

  @media screen and (min-width: 769px) {
    .img-container {
      .svg-textImageLeft {
        > svg {
          bottom: 0;
          right: 0;
          scale: 1;
        }
      }
    }
  }
}
