.textImage-content {
  display: flex;
  flex-direction: row;
  gap: 10%;
  .info-texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 10rem;
    .text-description {
      margin-bottom: 80px;
      @include text-clamp(10);
      > p {
        @include bdy-md;
      }
    }

    @media (min-width: 1700px) {
      padding-left: calc((100vw - 1440px) / 2);
    }
  }
  .img-container {
    flex: 1;
    position: relative;
    .svg-textImageRight {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 25%;
      > svg {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 1024px) {
        width: 60%;
      }
      @media (max-width: $tablet) {
        width: 40%;
      }
    }
    .imageText {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 0 70%);
      max-width: unset !important;
      img {
        object-position: 0 25%; // Remove when image gets changed
        @media (max-width: $tablet) {
          object-position: unset;
        }
      }
    }
  }
}

.image-left {
  flex-direction: row-reverse;
  .info-texts {
    padding-left: unset;
    padding-right: 10rem;
    @media (min-width: 1700px) {
      padding-right: calc((100vw - 1440px) / 2);
    }
  }
  .img-container {
    flex: 1;
    position: relative;
    .svg-textImageLeft {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 35%;
      > svg {
        width: 100%;
        height: 100%;
      }
    }
    .imageText {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 70%, 45% 100%, 0 100%, 0% 100%);
      max-width: unset !important;
      img {
        object-position: 0 25%;
        @media (max-width: $tablet) {
          object-position: unset;
        }
      }
    }
  }
}

.textImage-content,
.image-left {
  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    height: unset;
    .info-texts {
      padding: $mobile-padding;
    }
  }
}
