.section.TitleTextRecord {
  padding-top: 6%;
  user-select: none;
}

.section.AgencyModelRecord .TitleTextRecord,
.section.TitleTextRecord {
  $height: 5px;
  $bottom: 1.5rem;

  padding-bottom: 0;

  .title {
    display: inline-block;
    @include text-clamp(2);
  }

  .content {
    @include text-clamp(5);
    line-height: 1.5 !important;
  }

  .title {
    position: relative;
    margin-bottom: $bottom;
  }

  .has-text-centered {
    h2:before {
      display: none;
    }
    .content {
      padding-left: 0;
    }
  }
  @media (max-width: $mobile) {
    .title {
      &:before {
        bottom: -$height;
      }
    }
  }
  @media (min-width: calc(#{$mobile} + 1px)) {
    .title {
      &:before {
        bottom: calc(-#{$bottom} - #{$height} - 1px);
        transform: translateY(0.5rem);
        margin-right: 1.5rem;
      }
    }
  }
}
