/** 
 * Footer
 *
 */
footer {
  border-top: 1px solid $grey-dark;

  a {
    @include btn-link;
    text-decoration: underline;
    text-transform: uppercase;

    color: $primary;
    transition: 0.2s ease-out;
    &:hover,
    &.has-text-primary {
      //social-icons
      color: lighten($primary, 10%) !important;
    }
  }
  .fa-stack {
    width: 1.65em;
  }
  form {
    .select select,
    .textarea,
    .input {
      @include bdy-md;
      border: none;
      border-bottom: 1px solid #fff;
      &:hover,
      &:focus {
        box-shadow: none;
        border-color: $primary;
      }
      padding: 0;
      &::placeholder {
        color: darken(#fff, 35%);
      }
    }
  }
}
.footer-bottom {
  margin-top: 90px;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    align-items: flex-end;
    flex-flow: row;
    justify-content: space-between;
  }
  .navbar-item {
    padding: 0;
  }
}
.form-notice {
  .content {
    @include bdy-md;
  }
  a {
    text-transform: unset;
    text-decoration: unset;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-notice {
  /* Customize the label (the container) */
  .wrap {
    display: block;
    position: relative;
    padding-left: 2.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -0.15em;
    left: 0;
    height: 1.85em;
    width: 1.85em;
    border-radius: 50%;
    transition: 0.1s ease-out;
  }

  .wrap input:not(:checked) ~ .checkmark {
    border: 1px solid $primary;
    &:hover {
      background-color: $primary-trans;
    }
  }

  .checkmark svg {
    @include fillall;
    display: none;
  }

  .wrap input:checked ~ .checkmark svg {
    display: block;
  }
}
.submit-btn {
  min-width: 178px;
  position: relative;
  svg {
    display: none;
  }
  &:after {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.408%200L0%201.41L4.574%206L0%2010.59L1.408%2012L7.4%206L1.408%200Z%22%20fill%3D%22%230D202C%22%20fill-opacity%3D%220.9%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-75%);
    width: 1em;
    height: 1em;
    pointer-events: none;
  }
  &:hover:after {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.408%200L0%201.41L4.574%206L0%2010.59L1.408%2012L7.4%206L1.408%200Z%22%20fill%3D%22%2353fabe%22%20fill-opacity%3D%220.9%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  }
  &:focus:after {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1.408%200L0%201.41L4.574%206L0%2010.59L1.408%2012L7.4%206L1.408%200Z%22%20fill%3D%22%231dbc83%22%20fill-opacity%3D%220.9%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  }
}
