/**
 * Footer
 *
 */
footer {
  border-top: 1px solid $grey-dark;

  a {
    @include btn-link;
    text-decoration: underline;
    text-transform: uppercase;

    color: $primary;
    transition: 0.2s ease-out;
    &:hover,
    &.has-text-primary {
      //social-icons
      color: lighten($primary, 10%) !important;
    }
  }
  .fa-stack {
    width: 1.65em;
  }
  form {
    .select select,
    .textarea,
    .input {
      @include bdy-md;
      border: none;
      border-bottom: 1px solid #fff;
      &:hover,
      &:focus {
        box-shadow: none;
        border-color: $primary;
      }
      padding: 0;
      &::placeholder {
        color: darken(#fff, 35%);
      }
    }
  }
}
.footer-bottom {
  margin-top: 90px;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    align-items: flex-end;
    flex-flow: row;
    justify-content: space-between;
  }
  .navbar-item {
    padding: 0;
  }
}
.form-notice {
  .content {
    @include bdy-md;
  }
  a {
    text-transform: unset;
    text-decoration: unset;
    &:hover {
      text-decoration: underline;
    }
  }
}

.submit-btn {
  position: relative;
}
