/**
 * Footer
 *
 */
footer {
  a {
    @include bdy-md;
    text-decoration: none;

    color: $text;
    transition: 0.2s ease-out;
    &:hover,
    &.has-text-primary {
      //social-icons
      color: $turquoise;
    }
  }
  .fa-stack {
    width: 1.65em;
  }

  @media (max-width: calc($tablet + 300px)) {
    .columns {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

form {
  .select select,
  .textarea,
  .input {
    @include bdy-md;
    border: none;
    border-bottom: 1px solid #fff;
    &:hover,
    &:focus {
      box-shadow: none;
      border-color: $primary;
    }
    padding: 0;
    &::placeholder {
      color: darken(#fff, 35%);
    }
  }

  .scroll-text {
    min-height: 5vh;
    max-height: 10vh;
    resize: none;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $text;
      border-radius: 4px;
    }
  }

  @media (max-width: $tablet) {
    .info-personal {
      flex-direction: column;

      .input-name {
        margin-right: unset !important;
        padding-bottom: 1.5rem;
        margin-bottom: 0.75rem !important;
      }

      .input-lastName {
        margin-left: unset !important;
      }
    }
  }
}

.information {
  display: flex;
  justify-content: space-between;

  .navbar-item {
    width: 170px;
    padding: 0;
    display: flex;
    justify-content: flex-start;

    > img {
      max-height: unset;
      user-select: none;
    }
  }

  .catchy-privacy {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: $tablet) {
      height: 20vh;
    }
  }

  .privacy p {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @include bdy-md;
    user-select: none;

    //text-privacy-richText
    a {
      color: $text;
      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid $turquoise;
        outline: none;
      }
    }
  }

  @media (max-width: calc($tablet + 300px)) {
    justify-content: unset;
    gap: 80px;
  }
}

.form-notice {
  .content {
    @include bdy-md;
  }
  a {
    text-transform: unset;
    text-decoration: unset;
    &:hover {
      text-decoration: underline;
    }
  }
}

.submit-btn {
  position: relative;

  button {
    display: flex;
    gap: 20px;
    &.is-ghost {
      padding: 0 0 5px 0;
      &::before {
        width: 100%;
      }
    }

    &::after {
      width: fit-content;
      height: auto;
      position: relative;
      transform: none;
      right: unset;

      @media screen and (max-width: $tablet) {
        height: 100%;
      }
    }
  }
}

.form-footer {
  gap: $global-padding;
  user-select: none;
  .footer-icons-container {
    display: flex;
    gap: 30px;
    > .footer-icon {
      > .fa-stack {
        width: fit-content;
        height: fit-content;
      }
    }
  }

  @media (max-width: calc($tablet + 300px)) {
    gap: unset;
  }
}
