// Cam colors
$cam-back: #0d202c;
$cam-text: #ffffff;
$cam-primary: #1dbc83;
$cam-link: #2ba2c3;
$cam-gray1: #263641;
$cam-gray2: #3d4d56;
$cam-gray3: #56636b;

$border-color-gray: #444f57;

// Bulma theme & core
// $widescreen-enabled: false;
// $fullhd-enabled: false;
@import './theme_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import './vendor/rfs';
@import './theme_overrides.scss';

//
// Section spacing hacks for modular blocks
//

// .section {
//   border: 1px dotted red;
// }

.section.BannerRecord {
  padding-top: 6em;
  padding-bottom: 6em;

  .column {
    img {
      object-fit: contain;
    }
  }
}

.section.ClientSetRecord {
  padding-top: 2rem;
}

.section.ContentLinkSetRecord + .section.ContentLinkSetRecord {
  padding-top: 0;
}
.section.TeamRecord {
  .is-4 {
    margin-top: 1.25em;
  }
}

.section.ViewMoreLinkRecord {
  padding-top: 0;
  position: relative;
  top: -1rem;

  &:not(:last-of-type) {
    padding-bottom: 0;
  }
}
.section.ContentLinkSetRecord + .section.ViewMoreLinkRecord {
  top: -8px;
  padding-bottom: 120px;
}

footer.section {
  margin-top: 3rem;
  padding-bottom: 12rem;
}

.content-page section:not(.has-background-grey-darker),
.content-post section:not(.has-background-grey-darker) {
  padding-top: 0;
}

.primary-page .section.ContentLinkSetRecord.Large.has-background-grey-darker {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

//
// More fragile hacks
//

.section.ServiceSetRecord {
  .title.is-5 {
    margin-bottom: 0.5rem;
  }
}

//
// Link hacks
//

.thumb-rows > .columns:not(:last-child),
.hero-banner > .columns:not(:last-child) {
  padding-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .link-alternating .columns:nth-child(even) {
    flex-direction: row-reverse;
  }
  .link-left .columns {
    flex-direction: row-reverse;
  }
}

// Flip content link images on mobile
@media screen and (max-width: 768px) {
  .card-rows,
  .thumb-rows,
  .hero-banner {
    .columns {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

//
// Own utilitites
//

.circle-crop {
  border-radius: 1000px;
  overflow: hidden;
}

.has-cover-image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import 'components/_content-links';
@import 'pages/_primary-pages';
