// Cam colors
$cam-back: #0d202c;
$cam-text: #ffffff;
$cam-primary: #1dbc83;
$cam-link: #2ba2c3;
$cam-gray1: #263641;
$cam-gray2: #3d4d56;
$cam-gray3: #56636b;

// Bulma theme & core
// $widescreen-enabled: false;
// $fullhd-enabled: false;
@import './theme_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import './theme_overrides.scss';

//
// Section spacing hacks for modular blocks
//

// .section {
//   border: 1px dotted red;
// }

.section.BannerRecord {
  padding-top: 6em;
  padding-bottom: 6em;
}

.section.TitleTextRecord {
  padding-top: 4rem;
  padding-bottom: 0;

  &:first-of-type {
    padding-top: 3rem;
  }
}

.section.ClientSetRecord {
  padding-top: 2rem;
}

.section.ContentLinkSetRecord + .section.ContentLinkSetRecord {
  padding-top: 0;
}

.section.ContentLinkSetRecord.Large {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section.ViewMoreLinkRecord {
  padding-top: 0;
  position: relative;
  top: -1rem;

  &:not(:last-of-type) {
    padding-bottom: 0;
  }
}

footer.section {
  margin-top: 3rem;
  padding-bottom: 6rem;
}

.content-page section,
.content-post section {
  padding-top: 0;
}

//
// More fragile hacks
//

.section.ServiceSetRecord .title.is-5 {
  margin-bottom: 0.5rem;
}

.medium-links .column.is-5 * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Flip content link images on mobile
@media screen and (max-width: 768px) {
  .medium-links,
  .large-links {
    .columns {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

//
// Own utilitites
//

@media screen and (min-width: 769px) {
  .alternating .columns:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.block-p:not(:last-child) {
  padding-bottom: 1rem;
}

.circle-crop {
  border-radius: 1000px;
  overflow: hidden;
}
