// Cam colors
$cam-back: #0d202c;
$cam-text: #ffffff;
$cam-primary: #1dbc83;
$cam-link: #2ba2c3;
$cam-gray1: #263641;
$cam-gray2: #3d4d56;
$cam-gray3: #56636b;

// Bulma theme & core
// $widescreen-enabled: false;
// $fullhd-enabled: false;
@import './theme_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import './vendor/rfs';
@import './theme_overrides.scss';

//
// Section spacing hacks for modular blocks
//

// .section {
//   border: 1px dotted red;
// }

.section.BannerRecord {
  padding-top: 6em;
  padding-bottom: 6em;

  .column {
    img {
      object-fit: contain;
    }
  }
}

.section.TitleTextRecord {
  padding-top: 4rem;
  padding-bottom: 0;

  &:first-of-type {
    padding-top: 3rem;
  }
}

.section.ClientSetRecord {
  padding-top: 2rem;
}

.section.ContentLinkSetRecord + .section.ContentLinkSetRecord {
  padding-top: 0;
}

.section.ViewMoreLinkRecord {
  padding-top: 0;
  position: relative;
  top: -1rem;

  &:not(:last-of-type) {
    padding-bottom: 0;
  }
}
.section.ContentLinkSetRecord + .section.ViewMoreLinkRecord {
  top: -8px;
  padding-bottom: 120px;
}

footer.section {
  margin-top: 3rem;
  padding-bottom: 12rem;
}

.content-page section:not(.has-background-grey-darker),
.content-post section:not(.has-background-grey-darker) {
  padding-top: 0;
}

.primary-page .section.ContentLinkSetRecord.Large.has-background-grey-darker {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

//
// More fragile hacks
//

.section.ServiceSetRecord .title.is-5 {
  margin-bottom: 0.5rem;
}

//
// Link hacks
//

.thumb-rows > .columns:not(:last-child),
.hero-banner > .columns:not(:last-child) {
  padding-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .link-alternating .columns:nth-child(even) {
    flex-direction: row-reverse;
  }
  .link-left .columns {
    flex-direction: row-reverse;
  }
}

// Flip content link images on mobile
@media screen and (max-width: 768px) {
  .card-rows,
  .thumb-rows,
  .hero-banner {
    .columns {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

//
// Own utilitites
//

.circle-crop {
  border-radius: 1000px;
  overflow: hidden;
}

.has-cover-image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** 
 *
 * TF integrations
 *
 */

:root {
  --ssr-spacing: 12px;
}
@media (max-width: $desktop) {
  :root {
    --ssr-spacing: 8px;
  }
}
@media (max-width: $mobile) {
  :root {
    --ssr-spacing: 8px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.TitleTextRecord,
.RichTextRecord {
  $height: 5px;

  .title {
    display: inline-block;
    max-width: 12.75em; //! home passionate
  }

  $bottom: 1.5rem;
  .title {
    position: relative;
    margin-bottom: $bottom;
    @include green-line(1rem);
    // &:before {
    //   //!greenline
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   width: 76px; //!varies
    //   height: $height;
    //   background-color: #1dbc83;
    // }
  }
  @media (max-width: $mobile) {
    .title {
      padding-bottom: 1.5rem;
      &:before {
        bottom: -$height;
      }
    }
  }
  @media (min-width: calc(#{$mobile} + 1px)) {
    .content {
      padding-left: 96px;
    }
    .title {
      &:before {
        bottom: calc(-#{$bottom} - #{$height} - 1px); //font-size varies
        transform: translateY(0.5rem); //varies
        margin-right: 1.5rem;
      }
      //! &:has(~ .content h3) {
      //   transform: translateY(0);
      // }
    }
  }
}

.BannerRecord {
  > .container {
    width: 100%;
  }
  // .column:first-child {
  //   flex-grow: 0;
  //   flex-basis: 50%;
  // }
  .column:last-child {
    display: flex;
    justify-content: center;
    margin-right: calc((min(770px, 50vw) * -1) + 50%);
  }
  .has-green-line {
    margin-bottom: 1em;
    &:before {
      width: 85px;
      top: unset;
      bottom: calc(-0.5em - 5px);
    }
  }
}

$ttr-green-line-width: 83px; //!::root {} responsive
$ttr-green-line-mr: 24px;
.AgencyModelRecord {
  padding-top: 100px;
  padding-bottom: 80px;
  .image {
    img {
      object-fit: contain;
      object-position: left center;
    }
  }
  .columns {
    &.mx-0 {
      // margin-left: -1rem!important;
      // margin-right: -1rem!important;
    }
    flex-wrap: wrap;
    // margin-left: calc(#{$ttr-green-line-width} + #{$ttr-green-line-mr});
    margin: 0 -2rem;
    @media (min-width: calc($tablet + 1px)) {
      padding-left: 100px;
    }
    @media (max-width: $fullhd) and (min-width: 991px) {
      // margin-left: calc(76px + #{$ttr-green-line-mr} - 2rem); //!match 1 //?
    }
    @media (min-width: calc(1px + #{$fullhd})) {
      // transform: translateX(
      //   calc(76px + #{$ttr-green-line-mr} - 1rem)
      // ); //!match 1 //?
    }
    // margin-right: calc(-50vw + 50%); //!match 1 //?
    // margin: -1rem;
  }
  .column {
    padding: 0;
    margin: 0 2rem;
    @media (max-width: 991px) {
      flex-basis: 100%;
    }
  }
  ._column {
    &:not(:nth-child(3)) {
      border-top: 1px solid #444f57;
      padding-top: 1.5rem;
    }
    padding-bottom: 1.5rem;
    h5 {
      margin-bottom: 0.5rem;
    }
  }
}

.ClientSetRecord {
  $border: 1px solid #444f57; //! color extraction
  .column {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        border-bottom: $border;
      }
    }
    &.is-one-fifth-desktop {
      // @media screen and (min-width: 1216px) {
      @media screen and (min-width: 1024px) {
        width: calc(100% / 6);
      }
    }
  }
  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    .column {
      &:nth-child(9) {
        border-bottom: $border;
      }
      &:not(:nth-child(3n)) {
        border-right: $border;
      }
    }
  }
  @media screen and (min-width: $tablet)  and (max-width: calc(#{$desktop} - 1px)) {
    .column {
      &:not(:nth-child(4n)) {
        border-right: $border;
      }
    }
  }
  @media screen and (max-width: calc(#{$desktop} - 1px)) {
    .column {
      @each $i in 7, 8 {
        &:nth-child(#{$i}) {
          border-bottom: $border;
        }
      }
    }
  }
  @media screen and (min-width: $desktop) {
    .column {
      &:not(:nth-child(6n)) {
        border-right: $border;
      }
    }
  }
}

.TeamRecord {
  .is-4 {
    margin-top: 1.25em;
  }
}

//call to action join
.section.ColumnRowRecord {
  padding: 120px 6%;
  box-sizing: border-box;
  .title.is-1,
  h2,
  .container > .columns > .column:first-child {
    // only 1 h1 per page -> hero title
    @include hdl1();
  }
  .container > .columns > .column:last-child {
    //! toggle
    padding-top: 28px;
    @include green-line();
    &:before {
      top: 0;
    }
  }
  @media (max-width: $tablet) {
    padding: 80px max(6%, 1.5rem);

    .title.is-1,
    h2,
    .container > .columns > .column:first-child {
      @include font-size(42px !important);
    }
  }
  .container > .columns > .column .content {
    h3 {
      font-size: 1.5em !important;
    }
  }
}

// .swiper-wrapper {
//   margin: 0 1px; //green border //!var
// }
div[class^='swiper-button-'] {
  // background: #fff;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  top: 50%;
  z-index: 5;

  height: max(1.5rem, min(7vw, 84px));
  width: max(1.5rem, min(7vw, 84px));

  svg {
    @include fillall;
  }

  path,
  circle {
    transition: 0.2s fill ease-out;
  }
  &:hover {
    path {
      fill: $grey-darkest;
    }
    circle {
      fill: $primary;
      fill-opacity: 1;
    }
  }
}
.swiper-button-prev-btn {
  align-items: center;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
.swiper-button-next-btn {
  right: 0;
  transform: translate(50%, -50%);
}
//div:has(> .swiper-pagination-bullet)) {
.swiper-pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 2rem; //!
}
.swiper-pagination-bullet {
  border: 1px solid #fff;
  background-color: transparent;
  height: 1.125rem !important;
  width: 1.125rem !important;
  transition: 0.1s;
  &:hover {
    background-color: $primary-trans;
    border-color: $turquoise-interact;
  }
  &-active {
    background: $primary !important;
    border-color: transparent;
  }
}

.ContentLinkSetRecord {
  &.section.has-background-grey-darker {
    margin: 120px 0;
  }
  @media (max-width: $tablet) {
    .column {
      width: 100%;
    }
  }
  .card-columns {
    position: relative;
    .column {
      //non-slider
      max-height: 600px;
      > * {
        max-height: 100%;
      }
    }
  }
  .swiper-slide {
    position: relative;
    .columns {
      box-sizing: border-box;
    }
    &:before {
      content: '';
      @include fillall;
      z-index: 10;
      box-sizing: border-box;
      pointer-events: none;
    }
  }
  *:not(.swiper-slide) > .card,
  .swiper-slide:before {
    border: 1px solid $primary;
  }

  .hero-banner {
    padding: 80px 0;
    // .swiper-wrapper {
    //   margin: 0 0.75rem;
    // }
    .column {
      // &[class*='image-'] {
      //   max-height: 466px;
      // }
      > * {
        max-height: 100%;
        @media (max-width: $tablet) {
          box-sizing: content-box;
        }
      }
    }
    &.is-large {
      .column {
        box-sizing: content-box;
      }
    }
    .swiper-slide {
      &:before {
        content: unset;
      }
    }
    &.is-large {
      img {
        //max-
        // height: 466px; //500px;
        object-fit: cover; //!crop
      }
      .button.is-primary {
        min-width: unset;
      }
      .hero-banner-content a {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
      }
      .content {
        @include bdy-com;
      }
      .is-vcentered {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .link-left {
      display: flex;
    }
  }
  .image-sm {
    img {
      max-width: calc(100% - 1.5rem);
      max-height: calc(100% - 1.5rem);
      margin: 0.75rem;
    }
    div {
      // padding: 0.75rem;
      position: relative;
      box-sizing: border-box;
      max-width: 100%;
      max-height: 100%;
      &:before {
        //dup
        content: '';
        @include fillall;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: 10;
        pointer-events: none;
        border: 1px solid $primary;
      }
    }
  }
}

$ssr-spacing: var(--ssr-spacing);
.ServiceSetRecord {
  .columns {
    margin: calc(-#{$ssr-spacing} * 2);
  }
  .column {
    display: flex;
    flex-flow: column;
    background: rgba(68, 79, 87, 0.2);
    border: 1px solid $primary;
    margin: $ssr-spacing;
    padding: 0;
    @media (min-width: $fullhd) {
      &.is-one-quarter {
        flex-basis: calc(25% - #{$ssr-spacing} * 2);
        width: calc(25% - #{$ssr-spacing} * 2);
      }
    }
  }
  .content-wrap {
    border-top: unset;
    padding: 6%;
    border-top: 1px solid $primary;
    .is-5 {
      @include bulletList();
    }
  }
  .title.is-4 {
    //image
    flex-grow: 1;
    margin-bottom: 0;
    padding: 1rem 0;
    display: grid;
    place-items: center;
  }
  figure {
    &.image {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .__service-img {
    //!integrations
    @extend .has-background-grey-darker; //!
    border: 1px solid $primary;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
    height: 275px;
    padding: 3rem;
    > div {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  ._service-img {
    //! ^
    min-height: 50px;
    // @extend .has-background-grey-darker; //!
    border: 1px solid $primary;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
    height: 275px;
    padding: 3rem;
    > div {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

@media screen and (max-width: $fullhd) {
  .ServiceSetRecord {
    .column {
      // @extend .is-half;
      flex-basis: calc(50% - #{$ssr-spacing} * 2);
    }
  }
}
@media screen and (min-width: $desktop) {
  .primary-page .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: $tablet) {
  .ServiceSetRecord {
    .content {
      //single headline, 3 content lines
      $line-height: 25.5px;
      $num-lines: 3;
      min-height: calc($line-height * $num-lines);
    }
  }
}
// @media screen and (max-width: $widescreen) and (min-width: $tablet) {
//   .fa-3x {
//     font-size: 2em;
//   }
// }
