// Cam colors
$cam-back: #0d202c;
$cam-text: #ffffff;
$cam-primary: #1dbc83;
$cam-link: #2ba2c3;
$cam-gray1: #263641;
$cam-gray2: #3d4d56;
$cam-gray3: #56636b;
$border-color-gray: #444f57;
$global-padding: 10rem;
$mobile-padding: 2.5rem;

// Bulma theme & core
// $widescreen-enabled: false;
// $fullhd-enabled: false;
@import './theme_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import './vendor/rfs';
@import './theme_overrides.scss';

//
// Section spacing hacks for modular blocks
//

// .section {
//   border: 1px dotted red;
// }
html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 5.5rem;
}
section:not(.has-background-grey-darker) {
  padding: 0 $global-padding;
  margin: 5.6% 0;
  @media (max-width: $tablet) {
    padding: $mobile-padding;
  }
}

.section.Footer {
  padding: 5rem $global-padding;
  margin: 3% 0;
  @media (max-width: $tablet) {
    padding: $mobile-padding;
  }
}

section:last-of-type {
  margin-bottom: 0 !important;
}

.section.BannerRecord {
  margin: 0;
  padding: 0;
}

.section.CaseStudyPage {
  .tag:not(body) {
    background-color: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .categories-case-study {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    @include custom-scrollbar();

    div {
      flex: 0 0 auto;
    }
  }
}
.case-study-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .case-study-navigation-button {
    border: unset;
    background-color: unset;
  }
  .nav-left {
    transform: rotate(180deg);
  }
}

.section.ClientSetRecord {
  padding: unset;
  position: relative;
  overflow: hidden;

  > .container {
    margin: unset;
    padding: unset;
    width: 100%;
    height: 100%;
    max-width: unset;
  }

  .absoluteSvg {
    width: fit-content;
    position: absolute;
    pointer-events: none;
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .LeftUp {
    top: 0;
    @media (max-width: $tablet) {
      display: unset;
    }
  }
  .leftDown {
    bottom: 0;
  }
  .RightDown {
    bottom: 0;
    right: 0;
    @media (max-width: $tablet) {
      display: unset;
      transform: translate(30%, 25%);
      > svg {
        width: 80%;
      }
    }
  }
  .RightUp {
    top: 0;
    right: 0;
  }
}

.section.Newsletter {
  padding-right: unset;
  > .container {
    margin: unset;
    width: 100%;
    height: 100%;
    max-width: unset;
  }
  @media (min-width: 1700px) {
    padding-left: calc((100vw - 1440px) / 2);
  }
  @media (max-width: $tablet) {
    padding-left: unset;
  }
}

.section.LeadCaseStudy {
  padding-right: unset;
  position: relative;

  > .container {
    margin: unset;
    width: 100%;
    height: 100%;
    max-width: unset;

    @media (max-width: calc(1024px + 200px)) {
      padding: $global-padding 0;
    }
  }

  @media (min-width: 1700px) {
    padding-left: calc((100vw - 1440px) / 2);
  }

  @media (max-width: $tablet) {
    padding-left: unset;

    > .container {
      padding: unset;
    }
  }
}

.section.TextImage {
  padding: unset;
  position: relative;

  > .container {
    margin: unset;
    width: 100%;
    height: 100%;
    max-width: unset;
  }

  @media (max-width: calc(1024px + 200px)) {
    padding: unset;
  }
}

.section.ContentLinkSetRecord + .section.ContentLinkSetRecord {
  padding-top: 0;
}
.section.TeamRecord {
  .is-4 {
    margin-top: 1.25em;
  }
  @media (max-width: $tablet) {
    padding: 1rem $mobile-padding;
    margin: 0;
  }
}

.section.ViewMoreLinkRecord {
  padding-top: 0;
  position: relative;
  top: -1rem;

  &:not(:last-of-type) {
    padding-bottom: 0;
  }
}

.section.ContentLinkSetRecord + .section.ViewMoreLinkRecord {
  top: -8px;
}

.content-page section:not(.has-background-grey-darker),
.content-post section:not(.has-background-grey-darker) {
  padding-top: 0;
}

.primary-page .section.ContentLinkSetRecord.Large.has-background-grey-darker {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-page,
.content-post {
  padding-bottom: 6%;

  header.section {
    padding-bottom: 0;
  }
}
.content-post,
.content-page {
  background-color: #f2f2f2;
  .container {
    color: $anthracite;
  }

  .is-blog {
    padding: unset;
    :first-child {
      max-width: unset !important;
    }
  }

  .section.Work,
  .section.Blog,
  .block-sections {
    padding: 3rem $global-padding;
    @media (max-width: $tablet) {
      padding: $mobile-padding;
    }
    .breadcrumb {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 1rem;
      padding-bottom: 1rem;
      @include custom-scrollbar();
    }
    .breadcrumb ul {
      flex-wrap: nowrap;
    }
    .breadcrumb a {
      color: $primary;
      transition: color 200ms ease;

      @include custom-scrollbar();
      &:hover,
      &.has-text-primary:hover {
        color: $lagoon;
      }
      &:focus,
      &.has-text-primary:focus {
        text-decoration: underline;
      }
    }
    .breadcrumb li + .is-active a {
      color: $anthracite;
    }

    .pretitle-work {
      @include description-hero();
      color: $pretitle-color;
    }
    .title-blog,
    .title-work {
      color: $anthracite;
    }
    .subtitle-blog {
      @include blog-work();
    }
    .description-blog,
    .description-work {
      @include description-hero();
      padding-top: $mobile-padding;
    }
    .description-work {
      padding-bottom: 2.5rem;
    }

    .author-blog {
      padding: 3rem 0;
      user-select: none;
      .author-image {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 100%, 0% 50%);
      }
      .media-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          color: $anthracite;
          @include bdy-md();
        }
        .author-name {
          font-weight: 700;
          height: 25px;

          &:hover::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $turquoise;
          }
        }
      }
    }
    .tags {
      gap: 1rem;
      .tag {
        background-color: unset;
        color: $anthracite;
        @include bdy-md();
        font-weight: 700;
        padding-left: unset;
        padding-right: unset;
        margin-right: unset;
      }
    }
  }

  .block-sections {
    padding: unset !important;
    @media (max-width: $tablet) {
      padding: unset !important;
    }
    > .section.RichTextRecord,
    .section.ColumnRowRecord {
      color: $anthracite;
      padding: 0 18rem;
      @media (max-width: 1024px) {
        padding: 0 $global-padding;
      }
      @media (max-width: $tablet) {
        padding: $mobile-padding;
      }

      a {
        text-decoration: underline;
      }

      .content {
        * {
          color: $anthracite;
        }

        p,
        ul,
        ol {
          @include bdy-com();
        }

        h2 {
          @include hdl2();
          color: $anthracite;
          > b,
          > strong {
            font-weight: 300;
          }
        }

        h3 {
          @include hdl3();
          color: $anthracite;
          > b,
          > strong {
            font-weight: 400;
          }
        }

        h4 {
          @include hdl4();
          color: $anthracite;
          > b,
          > strong {
            font-weight: 400;
          }
        }

        h5 {
          @include hdl5();
          color: $anthracite;
          > b,
          > strong {
            font-weight: 400;
          }
        }

        a:hover {
          color: $turquoise;
        }

        blockquote {
          background-color: $anthracite;
          border-left: 5px solid $turquoise;
          @include bdy-md();

          strong {
            font-size: 16px !important;
            font-weight: 700;
          }

          * {
            color: #f2f2f2;
          }
        }
      }
    }

    > .section.ColumnRowRecord {
      padding: 0 18rem;
    }

    > .section.TeamRecord {
      .img-container {
        background-color: $anthracite;
      }
      h4 {
        color: $anthracite !important;
      }
    }
  }
}

.block-sections {
  padding: unset !important;
  @media (max-width: $tablet) {
    padding: unset !important;
  }
}

.block-sections :is(.ImageSetRecord, .VideoRecord):first-of-type {
  padding: unset !important;
  > div {
    padding: unset;
    max-width: unset;
    .columns.is-vcentered {
      width: 100%;
      margin-left: unset;
      margin-right: unset;
      > .column {
        padding: unset;
      }
    }
  }
}

//
// More fragile hacks

.section.ServiceSetRecord {
  .title.is-5:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

//
// Link hacks
//

.thumb-rows > .columns:not(:last-child),
.hero-banner > .columns:not(:last-child) {
  padding-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .link-alternating .columns:nth-child(even) {
    flex-direction: row-reverse;
  }
  .link-left .columns {
    flex-direction: row-reverse;
  }
}

// Flip content link images on mobile
@media screen and (max-width: 768px) {
  .card-rows,
  .thumb-rows,
  .hero-banner {
    .columns {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

//
// Own utilitites
//

.has-cover-image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import 'components/_banner';
@import 'components/_content-links';
@import 'components/_items-panel';
@import 'components/service-carousel';
@import 'pages/_primary-pages';
@import 'pages/_content-pages';
@import 'pages/blog_page';
@import 'components/_client-set';
@import 'components/_panel-cards';
@import 'components/lead-case-full-width';
@import 'components/_static-cards-stack';
@import 'components/text-image';
@import 'components/newsletter';
@import 'components/lead-case-study';

@import 'components/_static-case-study-cards';
@import 'components/team';
// "content" adjustments
// https://bulma.io/documentation/elements/content
//
.content table {
  border-color: transparent;
}

.content table td:not(:last-of-type) {
  border-right-width: 1px;
}

.bg-pattern-svg {
  position: absolute;
  z-index: -1;
}

/* Prevent blue highlight on mobile devices */
a,
button,
.panel-item,
.team-dropdown {
  @include remove-tap-highlight();
}
