$grey-darkest: #0d202c;
$grey-darker: lighten($grey-darkest, 6);
$grey-dark: lighten($grey-darkest, 12);
$grey: lighten($grey-darkest, 18);
$grey-light: lighten($grey-darkest, 24);
$grey-lighter: lighten($grey-darkest, 30);

$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise-interact: #53fabe;
$turquoise: #1dbc83;
$blue: #2ba2c3;
$blue-light: #39b1b9;
$purple: #8e44ad;
$red: #e74c3c;
$white-ter: #ecf0f1;
$primary: $turquoise;
$primary-trans: rgba(83, 250, 190, 0.15);
$yellow-invert: #fff;

$family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-monospace: 'Inconsolata', 'Consolas', 'Monaco', monospace;

$radius-small: 3px;
$radius: 0; //0.4em;
$radius-large: 8px;
$size-6: 15px;
$size-7: 0.85em;
$title-weight: 500;
$subtitle-weight: 400;
$subtitle-color: desaturate($primary, 30);

$border-width: 1px;
$border: $grey;

//1280px
$container-max-width: 1440px;
$widescreen: 1440px;
$container-offset: 0;

$body-background-color: $grey-darkest;
$body-size: 17px;

$background: $grey-darker;
$footer-background-color: $primary;
$button-background-color: transparent;
$button-border-color: $primary;

$title-color: #fff;
$subtitle-strong-color: $grey-light;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);
$text-dark: $grey-darkest;

$box-color: $text;
$box-background-color: $grey-dark;
$box-shadow: none;

$link: $blue;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;

$button-color: $primary;
$button-hover-color: $turquoise-interact;
$button-focus: $text-dark;
$button-active-color: $text-dark;
$button-disabled-background-color: $grey-light;

$input-color: $grey-darker;
$input-icon-color: $grey;
$input-icon-active-color: $input-color;
$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-darker;
$input-disabled-border-color: $grey-dark;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 2);

$pagination-color: $link;
$pagination-border-color: $border;

$navbar-height: 4rem;

$navbar-background-color: $grey-darkest;
$navbar-item-color: $text;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $navbar-item-hover-color;
$navbar-dropdown-arrow: #fff;
$navbar-divider-background-color: rgba(0, 0, 0, 0.2);
$navbar-dropdown-border-top: 1px solid $navbar-divider-background-color;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $link;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$progress-value-background-color: $grey-lighter;

$bulmaswatch-import-font: true !default;

$file-cta-background-color: $grey-darker;

$progress-bar-background-color: $grey-dark;

$panel-heading-background-color: $grey-dark;

//additional breakpoints
//bulma mobile: < 769px
$mobile: 576px;
