@import 'base/_mixins';
@import 'base/_typography';
@import 'base/_footer';
.navbar-item {
  padding: unset;
  user-select: none;
}

.title,
.subtitle {
  word-break: keep-all;
}

hr {
  height: $border-width;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

a.is-block-link,
a.is-block-link:hover,
a.is-block-link:active,
a.is-block-link:focus {
  display: block;
  color: $text;
  text-decoration: none;
  transition: none;
}

.button {
  box-sizing: border-box;
  position: relative;
  height: unset !important;
  max-width: 400px;
  width: fit-content;
  display: flex;
  text-wrap: wrap;
  text-align: start;

  &:after {
    content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%23ffffff%22%20stroke%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-0.6em);
    width: 1em;
    height: 1em;
    pointer-events: none;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%231dbc83%22%20stroke%3D%22%231dbc83%22%2F%3E%3C%2Fsvg%3E');
    }
  }
}

.button.is-ghost {
  border: none;
  color: $text;
  position: relative;
  padding-top: 0.25rem;
  padding-left: unset;
  padding-bottom: 0.25rem;
  padding-right: 4.25rem;
  @include hdl3();
  font-weight: 400;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $text;
    width: 85%;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  &:focus::before,
  &:active::before,
  &:hover::before {
    transform: scaleX(1);
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: unset;
    color: $text;
    text-decoration: none;
  }
  &.navbar-item {
    padding-right: 2em;
    min-height: unset;
    padding-right: 0;
    padding-left: 0;
    min-width: unset;
    @include font-size(16px, !important);
    &:before {
      width: 100%;
    }
    &:after {
      content: none;
    }
  }
  &.revert-button {
    color: $anthracite;
    @include hdl4();
    &::before {
      background-color: $anthracite;
      width: 80%;
    }
    &::after {
      content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%23212121%22%20stroke%3D%22%23212121%22%2F%3E%3C%2Fsvg%3E');
      right: 15%;
      top: 45%;
    }
    &:hover,
    &:focus,
    &:active {
      &:after {
        content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%23008C81%22%20stroke%3D%22%23008C81%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }
}
.button:not(.is-ghost, .avoid-tf) {
  transition: color 200ms ease, background-color 200ms ease-out;
  border-width: $border-width;
  color: $button-color;
  border-radius: 0;
  padding: 1.25rem;
  padding-right: 3.75rem;

  &.is-primary {
    color: $text;
    background-color: transparent;
    border: 1px solid $text;
    position: relative;
    @include hdl4();

    &.navbar-item {
      padding: 0.25rem 0.75rem;
      padding-right: 2em;
      min-height: unset;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: unset;
      border: 1px solid $catchy-50;
      text-decoration: none;
    }
  }
  &.is-dark {
    color: $anthracite;
    border: 1px solid $anthracite;
    &::after {
      content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%23212121%22%20stroke%3D%22%23212121%22%2F%3E%3C%2Fsvg%3E');
    }
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $lagoon-50;
      &:after {
        content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%200.90332L1%202.42166L12.4566%209.03399L0.999999%2015.6463L0.999999%2017.1647L15.0857%209.03399L1%200.90332Z%22%20fill%3D%22%23008C81%22%20stroke%3D%22%23008C81%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }
}
@media (min-width: calc($desktop + 1px)) {
  .button:not(.is-ghost).is-primary.navbar-item {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}
@media (max-width: $desktop) {
  .button:not(.is-ghost).is-primary.navbar-item {
    //     margin-top: -1px;
    //     max-width: 177px;
    //     margin-left: auto;
    //     margin-right: auto;
    display: flex;
    align-items: center;
  }
}
@media (max-width: $mobile) {
  .button:not(.is-ghost).is-primary.navbar-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.label {
  color: $grey-lighter;
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea {
  height: 2.5em;
}

.input,
.textarea,
.select select {
  background: $body-background-color;
  color: $text;
}

.input::placeholder,
.textarea::placeholder {
  color: $grey-light;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: $border-width;
  padding-left: 1em;
  padding-right: 1em;
}

.select {
  &:after,
  select {
    border-width: $border-width;
  }
}

.control {
  &.has-addons {
    .button,
    .input,
    .select {
      margin-right: -$border-width;
    }
  }
}

.notification {
  background-color: $grey-dark;
}

.card {
  box-shadow: none;
  background-color: $grey-darker;
  border-radius: 0;

  .card-image {
    img {
      border-radius: 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: rgba($black-bis, 0.2);
    border-radius: 0;
  }

  .card-footer {
    background-color: rgba($black-bis, 0.2);
  }
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.tag {
  border-radius: $radius;
}

.menu-list {
  a {
    transition: color 300ms ease;
  }
}

.modal-card-body {
  background-color: $grey-darker;
}

.modal-card-foot,
.modal-card-head {
  border-color: $grey-dark;
}

.message-header {
  font-weight: $weight-bold;
  background-color: $grey-dark;
  color: $white;
}

.message-body {
  border-width: $border-width;
  border-color: $grey-dark;
}

.navbar {
  > .container {
    max-width: unset;
  }
  border-bottom: 1px solid #d4d6d969;
  min-height: 5.5rem;
  &.is-transparent {
    background: none;
  }

  &.is-primary {
    .navbar-dropdown {
      a.navbar-item.is-active {
        background-color: $link;
      }
    }
  }

  @include touch {
    .navbar-menu {
      background-color: $navbar-background-color;
      border-radius: 0 0 $radius $radius;
    }
  }

  .navbar-item.has-dropdown.is-hoverable .navbar-dropdown {
    border: 1px solid #d4d6d969;
    .navbar-item {
      justify-content: flex-start; // left-align
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      &.is-active {
        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover {
          &::before {
            transform: scaleX(0);
          }
        }
      }
    }
  }
}
.navbar > .container .navbar-brand,
.navbar > .container .navbar-menu {
  margin: 0;
}

.navbar-brand .navbar-item {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  min-height: 5.5rem;
  align-items: center;
  .navbar-burger {
    height: 16px;
    width: 16px;

    &:hover {
      color: $turquoise;
    }
  }
}

a.navbar-item.is-tab.is-active:not(.button),
a.navbar-item.is-tab:not(.button):hover {
  color: #fff;
  border: none;
  padding-bottom: 0.5rem;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $text;
    transform: scale(1);
    width: 100%;
    transition: transform 0.1s ease-in-out;
  }
}

.navbar-item.is-tab {
  display: flex;
  gap: 10px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: unset;
  border-bottom: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: unset;
  align-items: center;
  height: fit-content;
  > button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      transform: rotate(0deg);
      transition: transform 250ms ease-in-out;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $text;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  @media (max-width: 1023px) {
    > button.is-expanded {
      svg {
        transform: rotate(180deg);
        > path {
          fill: $turquoise;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      text-decoration: none;
      &::before {
        transform: scaleX(1);
      }
      > button {
        svg {
          transform: rotate(180deg);
          > path {
            fill: $turquoise;
          }
        }
      }
    }
  }
}

.navbar-item.has-dropdown.is-hoverable {
  height: 100%;
  align-items: center;
  .navbar-dropdown {
    display: none;
    border-radius: 0;
    right: 0;
    left: unset;
    padding-right: 0.75rem;
    padding-left: 0.75rem;

    > .navbar-item {
      justify-content: flex-end;
      width: fit-content;
      padding-left: 0;
      padding-right: 0;
      min-width: unset;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: $text;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.1s ease-in-out;
      }

      &:hover,
      &:active,
      &:focus {
        color: #fff;
        &::before {
          transform: scaleX(1);
        }
        > svg {
          > path {
            fill: $turquoise;
          }
          transform: rotate(180deg);
        }
      }
    }
  }
  &:hover {
    .navbar-dropdown {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-end;
    }
  }
}

.navbar-end {
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-left: unset;
}

.navbar-item {
  text-align: center;
  justify-content: center;
  font-weight: 400;
}

@media (max-width: 1023px) {
  .navbar {
    padding: 0 clamp(2rem, 8vw, 5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-end {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    > .navbar-item.has-dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .navbar-menu {
    box-shadow: none;
    padding: 0;
    padding-bottom: 1rem;
    .navbar-item.has-dropdown.is-hoverable .navbar-dropdown {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
      border: none;
      padding-right: 1.5rem;
      &.is-expanded {
        display: flex;
      }
    }
  }

  a.navbar-item.is-tab,
  a.navbar-item.is-tab.is-active,
  a.navbar-item.is-tab:hover {
    border-bottom: none;
    min-height: 0px;
    padding-bottom: 0.5rem;

    .header-link-button {
      background: none;
      border: none;
    }
  }
  a.navbar-item.is-tab.is-active:not(.button),
  a.navbar-item.is-tab:not(.button):hover {
    background-color: transparentize(
      $color: $navbar-item-active-background-color-mobile,
      $amount: 0.95
    );
  }
}

@media (max-width: $tablet) {
  .navbar {
    padding: 0 $mobile-padding;
  }
}

.hero .navbar,
body > .navbar {
  border-radius: 0;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  border-width: $border-width;
}

.panel-block,
.panel-heading,
.panel-tabs {
  border-width: $border-width;

  &:first-child {
    border-top-width: $border-width;
  }
}

.panel-heading {
  font-weight: $weight-bold;
}

.panel-tabs {
  a {
    border-width: $border-width;
    margin-bottom: -$border-width;

    &.is-active {
      border-bottom-color: $link-active;
    }
  }
}

.panel-block {
  &:hover {
    color: $link-hover;

    .panel-icon {
      color: $link-hover;
    }
  }

  &.is-active {
    .panel-icon {
      color: $link-active;
    }
  }
}

.tabs {
  a {
    border-bottom-width: $border-width;
    margin-bottom: -$border-width;
  }

  ul {
    border-bottom-width: $border-width;
  }

  &.is-boxed {
    a {
      border-width: $border-width;
    }

    li.is-active a {
      background-color: darken($grey-darker, 4);
    }
  }

  &.is-toggle {
    li a {
      border-width: $border-width;
      margin-bottom: 0;
    }

    li + li {
      margin-left: -$border-width;
    }
  }
}

.hero {
  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar {
        .navbar-dropdown {
          .navbar-item:hover {
            background-color: $navbar-dropdown-item-hover-background-color;
          }
        }
      }
    }
  }
}

/**
 *
 * TF Integrations
 *
 **/
/* 
.has-green-line {
  @include green-line();
} */

//TeamRecord adjustments
.team-title {
  margin-bottom: 1.3889em;
}

// override to update existing to match
.has-background-grey-darker {
  background-color: rgba(68, 79, 87, 0.2) !important;
}

@media screen and (min-width: 1024px) {
  .primary-page .container {
    max-width: 1440px;
  }
  .navbar {
    > .container {
      max-width: unset;
      padding-left: $global-padding;
      padding-right: $global-padding;
    }
  }
}
